{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="bTitle">News</h1>
    <ul>
        <li><h2><a href="{{ path('top-headlines') }}">Gros Titres</a></h2></li>
        <li><h2><a href="{{ path('all-news') }}">ChatGPT</a></h2></li>
        <li><h2><a href="{{ path('google-news') }}">Google News</a></h2></li>
        <a href="https://gregc.v6.rocks:80803">too</a>
    </ul>
{% endblock %}
